<template>
    <div class="container">
        <h1>METRO Markets Price calculator example</h1>
        <p>The following calculator can be used to test and validate calculations on our marketplace</p>

        <form>
            <fieldset><legend>Settings</legend>
            <label for="vatRate">VAT Rate (%)</label>
            <input v-model="vatRate" type="number" min="0" max="99" step="1" id="vatRate" />
            <label for="verbose">Tell me more (<code>--verbose</code>)</label>
            <input type="checkbox" v-model="verbose" id=verbose />
            </fieldset>
        </form>

    <button class="primary" @click="addOrderline">Add OrderLine</button>
        <table>
            <thead>
                <tr>
                    <th>Item Price Net<br><small>(excl. VAT)</small></th>
                    <th>Quantity</th>
                    <th>Item Price Gross<br><small>(incl. VAT)</small></th>
                    <th>VAT Amount</th>
                    <th>VAT Sub total</th>
                    <th>Net Sub total</th>
                    <th>Gross Sub total</th>
                </tr>
            </thead>
            <tbody>
                <order-line :verbose=verbose :vatRate=vatRate v-model="orderlines[i]" v-for="(line, i) in orderlines" :key="i"/>
            </tbody>
        </table>
        <table class="horizontal">
            <thead>
                <tr>
                    <th>Net total</th>
                    <th>Vat total</th>
                    <th>GROSS TOTAL</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        <code v-show="verbose">&sum;({{netTotalVerbose}}) = </code>
                        <strong>{{netTotal}}&nbsp;&euro;</strong>
                    </td>
                    <td>
                        <code v-show="verbose">&sum;({{vatTotalVerbose}}) = </code>
                        <strong>{{vatTotal}}&nbsp;&euro;</strong> ({{vatRate}} %)
                    </td>
                    <td>
                        <code v-show="verbose">&sum;({{grossTotalVerbose}}) = </code>
                        <strong>{{grossTotal}}&nbsp;&euro;</strong>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</template>

<script>
import OrderLine from './OrderLine'

const defaultOrderline = {
    netTotal: 0,
    grossTotal: 0,
    vatTotal: 0,
    itemNet: 0,
    itemGross: 0,
    itemGrossPlain: 0,
    itemVat: 0,
    quantity: 1,
};

export default {
    data: () => ({
        orderlines: [],
        vatRate: 16,
        verbose: false
    }),
    components: {
        OrderLine
    },
    created() {
        this.addOrderline();
    },
    computed: {
        netTotal() { return this.orderlines.reduce(((total, line) => Number(total) + Number(line.netTotal)), 0).toFixed(2)},
        grossTotal() { return this.orderlines.reduce(((total, line) => Number(total) + Number(line.grossTotal)), 0).toFixed(2)},
        vatTotal() { return this.orderlines.reduce(((total, line) => Number(total) + Number(line.vatTotal)), 0).toFixed(2)},

        netTotalVerbose() { return this.orderlines.map(line => line.netTotal + '€').join(', ')},
        vatTotalVerbose() { return this.orderlines.map(line => line.vatTotal + '€').join(', ')},
        grossTotalVerbose() { return this.orderlines.map(line => line.grossTotal + '€').join(', ')}
    },
    methods: {
        addOrderline() {
            this.orderlines.push(Object.assign(defaultOrderline));
        }
    }
}
</script>
