<template>
    <tr>
        <td><input type="number" min=0 step="0.01" size=7 v-model="basePrice" /></td>
        <td><input type="number" min=1 step="1" size=5 v-model="quantity" /></td>
        <td>
            <code v-show="verbose">
                {{basePrice}} &times; {{vat.toFixed(2)}} = {{value.itemGrossPlain}} = </code>
            <pre>{{value.itemGross.toFixed(2)}} €</pre>
            <small v-show="verbose">rounded half up 2 decimals</small>
        </td>
        <td>
            <code v-show="verbose">{{value.itemGross}} - {{basePrice}} = </code>
            <pre>{{value.itemVat.toFixed(2)}} €</pre>
        </td>
        <td>
            <code v-show="verbose">{{value.itemVat}} &times; {{quantity}} = </code>
            <pre>{{value.vatTotal.toFixed(2)}} €</pre>
        </td>
        <td class="strong">
            <code v-show="verbose">{{basePrice}} &times; {{quantity}} = </code>
            <pre>{{value.netTotal.toFixed(2)}} €</pre>
        </td>
        <td class="strong">
            <code v-show="verbose">{{value.itemGross}} &times; {{quantity}} = </code>
            <pre>{{value.grossTotal.toFixed(2)}} €</pre>
        </td>
    </tr>
</template>

<script>
// We need a very special way of rounding
// import {round} from '@matthewmorgan/round-half-up';
import NP from 'number-precision';

export default {
    name: 'order-line',
    props: ['value', 'vatRate', 'verbose'],
    data: () => ({
        basePrice: 0,
        quantity: 1,
    }),
    computed: {
        vat() {
            return Number(1 + (this.vatRate / 100));
        }
    },
    methods: {
        // recalculate an orderline
        calculate() {
            // line items
            const itemNet = Number(this.basePrice);
            const itemGrossPlain = NP.times(itemNet, this.vat);
            const itemGross = NP.round(itemGrossPlain, 2);
            const itemVat = NP.minus(itemGross, itemNet);

            // line totals
            const vatTotal = NP.times(itemVat, Number(this.quantity));
            const netTotal = NP.times(itemNet, Number(this.quantity));
            const grossTotal = NP.times(itemGross, Number(this.quantity));

            this.$emit('input', {...this.value, itemGross, itemNet, itemVat, vatTotal, netTotal, grossTotal, itemGrossPlain})
        }
    },
    watch: {
        basePrice() { this.calculate() },
        quantity() { this.calculate() },
        vatRate() { this.calculate() },
    }
}
</script>

<style scoped>
.strong {
    font-weight: bold;
}
</style>
